<!-- app.component.html -->
<header>
    <!-- Barra de Navegação -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Meu App Angular</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cadastro-cliente">Cadastro Cliente</a>
            </li>
            <!-- Adicione mais links de navegação conforme necessário -->
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
  <!-- app.component.html -->
  <div class="container">
    <h1>Minha Página Inicial (TESTE)</h1>
    <p>Bem-vindo à minha página inicial!</p>
    <button class="btn btn-primary" routerLink="/cadastro-cliente">Ir para Cadastro de Cliente</button>
  </div>
  
  
  <!-- Conteúdo da Home -->
  <main role="main" class="container">
    <div class="jumbotron">
      <h1 class="display-4">Bem-vindo ao Meu App Angular!</h1>
      <p class="lead">Este é um exemplo simples de uma tela de Home para o seu aplicativo Angular.</p>
      <hr class="my-4">
      <p>Crie e desenvolva incríveis aplicações web com Angular!</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
    </div>
  </main>
  
  <footer class="footer">
    <div class="container">
      <span class="text-muted">© 2024 Meu App Angular</span>
    </div>
  </footer>
  