/* cadastro-cliente.component.css */
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .btn-primary {
    margin-top: 20px;
  }
  
  /* cadastro-cliente-lista.component.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.btn {
  margin-right: 5px;
}
